body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-accent {
  color: #2e2f42;
}

.page-header {
  background-color: #ffffff;
}

.nav-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.section-title-features,
.features-subtitle,
.team-name,
.portfolio-name {
  color: #2e2f42;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.features-subtitle,
.team-name,
.portfolio-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.features-text,
.team-position,
.portfolio-text,
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-logo .logo-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
